.contentText {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 33px;
  font-weight: 600;
  text-transform: uppercase;
}

.AboutWorkshopContainer {
  margin-top: 20px;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
}

.spanHighlight {
  color: #b9fd27;
  text-decoration: underline;
}

.AboutWorkShopInnerContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.contentText02 {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
}

.iframeVideo {
  width: 780px;
  display: none;
  height: 482px;
}

.workShopDateContainer {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}

.headTime {
  font-size: 26px;
  font-weight: bold;
  color: #000;
}

.headDate {
  font-size: 16px;
  color: #000;
}

.lastbatchText {
  color: #fff118;
  font-family: "Poppins", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.apjImg {
  width: 80%;
}
@media (max-width: 786px) {
  .iframeVideo {
    width: 100%;
    display: none;
    height: 218px;
  }
  .apjImg {
    width: 100%;
  }

  .AboutWorkShopInnerContainer {
    width: 100%;
    gap: 10px;
    padding: 5px;
  }
  .AboutWorkshopContainer {
    padding: 5px;
    border-radius: 5px;
    padding-bottom: 20px;
  }
  .contentText {
    font-size: 20px;
  }
  .contentText02 {
    font-size: 14px;
  }
  .headTime {
    font-size: 20px;
    color: #000;
  }
  .workShopDateContainer {
    flex-wrap: wrap;
  }
  .headDate {
    font-size: 13px;
    color: #000;
  }

  .headContainer {
    width: 50%;
  }
  .lastbatchText {
    font-size: 17px;
  }
}
