.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.insideConainer {
  width: 40%;
  padding: 15px;

  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

label {
  color: #000;
}

.txtClr {
  color: #000 !important;
}

input {
  background-color: rgba(248, 250, 252, 0.57) !important;
}

@media (max-width: 786px) {
  .insideConainer {
    width: 100%;
    padding: 20px;
  }
}
