.whatLoopContainer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 45%;
  background: linear-gradient(to bottom, #dadadadc, #fff);
  min-height: 200px;
  border-radius: 10px;
  margin: auto;
  margin-top: 8px;
  align-items: center;
  border-style: solid;
  border-color: #dadada;
}
.pointP {
  font-family: "Poppins", Sans-serif;
  color: #7a7a7a;
  text-align: center;
}
.topicH1 {
  color: #051a2d;
  font-family: "Poppins", Sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}

.inrContainer {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
}
.imageP1 {
  width: 30%;
  margin: auto;
  margin-right: 10px;
  text-align: center;
}
.imageWhat {
  width: 100%;
  margin: 5px;
  border-radius: 5px;
}
@media (max-width: 786px) {
  .topicH1 {
    color: #051a2d;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .pointP {
    font-size: 13px;
    font-family: "Poppins", Sans-serif;
    color: #7a7a7a;
  }

  .whatLoopContainer {
    min-height: auto;
    padding: 5px;
    width: 100%;
  }
  .imageP1 {
    width: 40%;
    margin: auto;
    margin-right: 10px;
    text-align: center;
  }

  .imageWhat {
    width: 100px;
    margin: 0px;
    border-radius: 5px;
  }
  .topHead {
    color: #ff6100;
    font-weight: bold;
    text-align: center;
    font-size: 27px;
  }
  .fullWhatContainer {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
